<main class="festival">
    <!-- 섹션1 축제소개 컨텐츠 및 포스터 섹션 -->
    <section class="section1">
        <div class="sec_wrap sec1_festival">
            <div class="sec1_cont">
                <div class="first_title">
                    <h2>제26회 2022</h2>
                    <h2>부산 바다축제</h2>
                </div>
                <h3>부산하면 여름, 여름하면 부산바다축제!</h3>
                <div class="sec1_cont_line"></div>
                <div class="sec1_cont_maintxt">
                    <p> 해운대, 광안리, 다대포, 송도, 송정해수욕장 등 부산 시내 5개의 해수욕장에서 열리는</p>
                    <p>바다축제는 각 해수욕장의 색깔을 담은 다양한 프로그램들로 여러분을 맞이하고 있으며</p>
                    <p>무엇을 생각하든 그 이상을 만날 수 있는 축제입니다.</p>
                </div>
                <div class="deadline">
                    <h3>2023.07.30(토) ~ 2023.08.07(일)</h3>
                    <h3>해운대, 광안리 등 부산 시내 5개 해수욕장</h3>
                </div>
                <!-- <div class="m_plus_wrap">
                    <img src="img/festival_plus.png" alt="" />
                </div> -->
                <div class="m_plus_wrap cate_more"><span></span><span></span></div>
                <div class="m_sec1_cont_maintxt">
                    <h3>축제개요</h3>
                    <div class="summary_wrap">
                        <p>부산에서만 볼 수 있는 초대형 불꽃과 광안대교 경관조명을 활용한 </p>
                        <p>미디어파사드 연출, 화려한 불꽃과 조명, 음악이 어우러져 스토리텔링이 가미된</p>
                        <p>부산멀티불꽃쇼와 해외 초청 불꽃쇼를 만나볼 수 있습니다.</p>
                    </div>
                    <h3>축제식순</h3>
                    <div class="oder_wrap">
                        <p>라이징스테이지공연</p>
                        <p>T셔틀</p>
                        <p>대선히든테라스</p>
                        <p>스포티파이플레이리스트</p>
                        <p>순환버스</p>
                    </div>
                </div>
            </div>
            <div class="poster_img fes_sea_img"></div>
        </div>
        <div class="wave">
            <div class="wave_bg wbg_top"></div>
        </div>
    </section>
    <script src="js/festival.js"></script>
    <!-- 섹션 2 축제 프로그램 안내 -->
    <section class="section2">
        <div class="sec_wrap_b sec2_fes_info_wrap">
            <div class="subTitle">
                <h1>I</h1>
                <h1>N</h1>
                <h1>F</h1>
                <h1>O</h1>
                <h1>R</h1>
                <h1>M</h1>
                <h1>A</h1>
                <h1>I</h1>
                <h1>T</h1>
                <h1>I</h1>
                <h1>O</h1>
                <h1>N</h1>
            </div>
            <div class="sec2_addi_tit">
                <h2>축제 프로그램 안내</h2>
     
            </div>
            <!-- 섹션2 축제프로그램 안내 컨텐츠 시작 스와이퍼 -->
            <div class="fes_info_cont_wrap">
                <div class="swiper mySwiper_fes_info">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="fes_info_bg f2_i_bg3"></div>
                            <div>
                                <ul class="f_i_txt_wrap">
                                    <li>
                                  
                                            <div class="sub_cate bgr"> <h4>기간</h4>
                                        </div>
                                  
                                        <h4>2023.07.30 ~ 2023.08.07</h4>
                                    </li>
                                    <li>
                                    
                                            <div class="sub_cate bgp"><h4>내용</h4>
                                        </div>
                                        <h4 class="f_i_contxt">
                                           해운대, 광안리, 다대포, 송도, 송정해수욕장 등 부산 시내 4개의 해수욕장에서 열리는 바다축제는 각 해수욕장의 색깔을 담은 다양한 프로그램들로 여러분을 맞이하고 있습니다.
                                        </h4>
                                        <h4 class="m_f_i_contxt"> 부산불꽃축제 만의 다채로운 즐거움을 만나보세요!</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="fes_info_bg f_i_bg2"></div>
                            <div>
                                <ul class="f_i_txt_wrap">
                                    <li>
                                        <div class="f_i_peri_tit">
                                            <h4>기간</h4>
                                        </div>
                                        <h4>2022.12.31 ~2023.01.01</h4>
                                    </li>
                                    <li>
                                        <div class="f_i_contxt_tit">
                                            <h4>내용</h4>
                                        </div>
                                        <h4 class="f_i_contxt">
                                            새해맞이 시민의 종 타종행사에 온다면 꼭 들러야 하는 핫플레이스! 유니크하고 핫한 사진 명소 실루엣 포토존과
                                            2030 부산 세계 박람회 유치기원 레고 포토존에서 인생 사진을 만들어보세요.
                                        </h4>
                                        <h4 class="m_f_i_contxt">새해맞이 시민의 종 타종행사에 온다면 꼭 들러야 하는 핫플레이스!</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="fes_info_bg f_i_bg3"></div>
                            <div>
                                <ul class="f_i_txt_wrap">
                                    <li>
                                        <div class="f_i_peri_tit">
                                            <h4>기간</h4>
                                        </div>
                                        <h4>2022.12.31 ~2023.01.01</h4>
                                    </li>
                                    <li>
                                        <div class="f_i_contxt_tit">
                                            <h4>내용</h4>
                                        </div>
                                        <h4 class="f_i_contxt">
                                            새해맞이 시민의 종 타종행사에 온다면 꼭 들러야 하는 핫플레이스! 유니크하고 핫한 사진 명소 실루엣 포토존과
                                            2030 부산 세계 박람회 유치기원 레고 포토존에서 인생 사진을 만들어보세요.
                                        </h4>
                                        <h4 class="m_f_i_contxt">새해맞이 시민의 종 타종행사에 온다면 꼭 들러야 하는 핫플레이스!</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fes_info_swi_btn_wrap">
                    <div class="f_i_prev"><img src="img/arrow_next_wh.png" alt="" /></div>
                    <div class="f_i_next"><img src="img/arrow_next_wh.png" alt="" /></div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
        <script>
            var swiper = new Swiper(".mySwiper_fes_info", {
                navigation: {
                    nextEl: ".f_i_next",
                    prevEl: ".f_i_prev",
                },
            });
        </script>
        <div class="wave">
            <div class="wave_bg wbg_bot"></div>
        </div>
    </section>
    <!-- 섹션3 축제위치 섹션 -->
    <section class="section3">
        <div class="sec_wrap">
            <div class="subTitle">
                <h1>L</h1>
                <h1>O</h1>
                <h1>C</h1>
                <h1>A</h1>
                <h1>T</h1>
                <h1>I</h1>
                <h1>O</h1>
                <h1>N</h1>
            </div>
            <div class="fes_loca_cont_wrap">
                <div class="fes_loca_map">
                    <div class="loca_map_bg"></div>
                </div>
                <ul class="fes_location_info">
                    <li class="fes_loca_bus">
                        <div class="sub_cate bgb"><h4>버스노선</h4></div>
                        <p>
                            28, 41, 62, 83, 83-1, 108, 41, 42, 38, 49, 62 번(하차 : 광안리 해수욕장) 20, 40, 42, 49, 51, 62, 131, 1001, 1003, 1001(심야), 1003(심야)(하차지점 : 광안역) 자세한 사항은 http://bus.busan.go.kr/
                            참조 노선개편에 따라 하차지점 명칭이 다소 달라 질 수 있습니다.
                        </p>
                    </li>
                    <li class="fes_loca_airbus">
                        <div class="sub_cate bgy"><h4>지&nbsp; 하&nbsp; 철</h4></div>
                        <p>2호선 금련산역(1번, 3번 출구), 2호선 광안역( 3번, 5번 출구)</p>
                    </li>
                    <li class="fes_loca_park">
                        <div class="sub_cate bgg"><h4>주차이용</h4></div>
                        
                        <p>
                            관광버스 및 장애인차량 공원내 출입 후 주차가능 네비게이션을 이용할 경우 : 공원 입구가 여러 곳이 있어 다른 방향으로 오실 수
                            있으니 부산근대역사박물관 근처 중앙 성당으로 입력하시고 공원 입구 공영주차장에 주차 가능합니다. 행사기간에는 교통혼잡으로
                            인해 가급적 대중교통을 이용해주시기 바랍니다.
                        </p>
                    </li>
                </ul>
            </div>
            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0252ddcc3a9c78735c3ba1f11b958df8"></script>
            <script src="js/festivalapi.js"></script>
        </div>
        <div class="wave">
            <div class="wave_bg wbg_top"></div>
        </div>
    </section>
    <section class="section4">
        <div class="sec_wrap">
            <div class="subTitle">
                <h1>R</h1>
                <h1>E</h1>
                <h1>S</h1>
                <h1>E</h1>
                <h1>R</h1>
                <h1>V</h1>
                <h1>A</h1>
                <h1>T</h1>
                <h1>I</h1>
                <h1>O</h1>
                <h1>N</h1>
            </div>
            <!-- <form class="selections" action="insert_reserve" method="post"></form> -->
            <!-- <div class="selections"> -->
            <form action="insert_reserve" method="post" class="selections">
                <div class="select1">
                    <div class="sub_cate bgy">
                        <h4>축제</h4>
                    </div>
                    <div class="select_box">
                        <span class="select_arrow"></span>
                        <input class="label" name="festival" />
                        <ul class="optionList">
                            <li class="optionItem">부산항 축제</li>
                            <li class="optionItem">부산 바다축제</li>
                            <li class="optionItem">골목길 축제</li>
                            <li class="optionItem">유채꽃 축제</li>
                            <li class="optionItem">국제 록 페스티벌</li>
                            <li class="optionItem">시민의 종 타종식</li>
                        </ul>
                    </div>
                </div>
                <div class="select2">
                    <div class="sub_cate bgg">
                        <h4>날짜</h4>
                    </div>
                    <div class="select_box">
                        <input name="date" type="date" class="date" placeholder="날짜" />
                    </div>
                </div>
                <div class="select3">
                    <div class="sub_cate bgr">
                        <h4>시간</h4>
                    </div>
                    <div class="select_box">
                        <span class="select_arrow"></span>
                        <input class="label" name="time" />
                        <ul class="optionList">
                            <li class="optionItem">1부</li>
                            <li class="optionItem">2부</li>
                            <li class="optionItem">3부</li>
                        </ul>
                    </div>
                </div>
                <div class="select5">
                    <div class="sub_cate bgy"><h4>이름</h4></div>
                    <div class="select_box">
                        <input type="text" name="name" placeholder="이름" />
                    </div>
                </div>
                <div class="select6">
                    <div class="sub_cate bgg"><h4>전화번호</h4></div>
                    <div class="select_box">
                        <input type="text" name="phone" placeholder="전화번호" />
                    </div>
                </div>
                <div class="select4">
                    <div class="sub_cate reserve"><h4>BOOK A TICKET</h4></div>
                </div>
                <div class="popup_wrap">
                    <div class="popup">
                        <div class="popup_close">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="popup_content">
                            <div class="subTitle">
                                <h1>T</h1>
                                <h1>H</h1>
                                <h1>A</h1>
                                <h1>N</h1>
                                <h1>K</h1>
                                <h1></h1>
                                <h1>Y</h1>
                                <h1>O</h1>
                                <h1>U</h1>
                            </div>
                            <h3>예약이 완료되었습니다</h3>
                            <div class="notice_btn_wrap">
                                <div class="notice_btn">
                                    <input type="submit" value="내 예약 확인하기" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="wave">
            <div class="wave_bg wbg_bot"></div>
        </div>
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper_fes_info", {
        navigation: {
            nextEl: ".f_i_next",
            prevEl: ".f_i_prev",
        },
    });
</script>
<script src="js/festival.js"></script>
