<main class="festival">
    <!-- 섹션1 축제소개 컨텐츠 및 포스터 섹션 -->
    <section class="section1">
        <div class="sec_wrap sec1_festival">
            <div class="sec1_cont">
                <h1>2023 새해맞이</h1>
                <h1>시민의 종 타종행사</h1>
                <h2>희망의 종소리,붉은 빛의 바다를 열다</h2>
                <div class="sec1_cont_line"></div>
                <div class="sec1_cont_maintxt">
                    <p>새해맞이 시민의 종 타종식은 부산시민, 관광객 등 모두가 모여 함께 한 해를</p>
                    <p>보내며 기쁨을 나누는 축제입니다. 새해맞이 시민의 종 타종식은 추운 날씨</p>
                    <p>지만 서로의 건강과 행복을 빌며 따뜻한 마음을 나눌 수 있는 축제입니다</p>
                </div>
                <h3>2022.12.31(토) - 2023.01.01(일)</h3>
                <h3>용두산 공원 일원</h3>
            </div>
            <div class="sec1_poster">
                <div class="poster_img"></div>
            </div>
            <!-- 모바일 텍스트 -->
            <div class="f_m_maintxt">
                <h1>2023 새해맞이</h1>
                <h1>시민의 종 타종행사</h1>
                <h3>2022.12.31(토) - 2023.01.01(일)</h3>
                <h3>용두산 공원 일원</h3>
            </div>
        </div>
        <div class="wave">
            <div class="wave_bg wbg_top"></div>
        </div>
    </section>
    <!-- 섹션 2 축제 프로그램 안내 -->
    <section class="section2">
        <div class="sec_wrap_b sec2_fes_info_wrap">
            <div class="subTitle">
                <h1>I</h1>
                <h1>N</h1>
                <h1>F</h1>
                <h1>O</h1>
                <h1>R</h1>
                <h1>M</h1>
                <h1>A</h1>
                <h1>I</h1>
                <h1>T</h1>
                <h1>I</h1>
                <h1>O</h1>
                <h1>N</h1>
            </div>
            <div class="sec2_addi_tit">
                <h2>축제 프로그램 안내</h2>
                <h4>부산 타종행사 만의 인생샷 필수코스</h4>
            </div>
            <!-- 섹션2 축제프로그램 안내 컨텐츠 시작 스와이퍼 -->
            <div class="fes_info_cont_wrap">
                <div class="swiper mySwiper_fes_info">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="fes_info_bg f_i_bg1"></div>
                            <ul class="f_i_txt_wrap">
                                <li>
                                    <div class="f_i_peri_tit">
                                        <h4>기간</h4>
                                    </div>
                                    <h4>2022.12.31 ~2023.01.01</h4>
                                </li>
                                <li>
                                    <div class="f_i_contxt_tit">
                                        <h4>내용</h4>
                                    </div>
                                    <h4 class="f_i_contxt">
                                        새해맞이 시민의 종 타종행사에 온다면 꼭 들러야 하는 핫플레이스! 유니크하고 핫한 사진 명소 실루엣 포토존과 2030
                                        부산 세계 박람회 유치기원 레고 포토존에서 인생 사진을 만들어보세요.
                                    </h4>
                                    <h4 class="m_f_i_contxt">새해맞이 시민의 종 타종행사에 온다면 꼭 들러야 하는 핫플레이스!</h4>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <div class="fes_info_bg f_i_bg2"></div>
                            <ul class="f_i_txt_wrap">
                                <li>
                                    <div class="f_i_peri_tit">
                                        <h4>기간</h4>
                                    </div>
                                    <h4>2022.12.31 ~2023.01.01</h4>
                                </li>
                                <li>
                                    <div class="f_i_contxt_tit">
                                        <h4>내용</h4>
                                    </div>
                                    <h4 class="f_i_contxt">
                                        새해맞이 시민의 종 타종행사에 온다면 꼭 들러야 하는 핫플레이스! 유니크하고 핫한 사진 명소 실루엣 포토존과 2030
                                        부산 세계 박람회 유치기원 레고 포토존에서 인생 사진을 만들어보세요.
                                    </h4>
                                    <h4 class="m_f_i_contxt">새해맞이 시민의 종 타종행사에 온다면 꼭 들러야 하는 핫플레이스!</h4>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <div class="fes_info_bg f_i_bg3"></div>
                            <ul class="f_i_txt_wrap">
                                <li>
                                    <div class="f_i_peri_tit">
                                        <h4>기간</h4>
                                    </div>
                                    <h4>2022.12.31 ~2023.01.01</h4>
                                </li>
                                <li>
                                    <div class="f_i_contxt_tit">
                                        <h4>내용</h4>
                                    </div>
                                    <h4 class="f_i_contxt">
                                        새해맞이 시민의 종 타종행사에 온다면 꼭 들러야 하는 핫플레이스! 유니크하고 핫한 사진 명소 실루엣 포토존과 2030
                                        부산 세계 박람회 유치기원 레고 포토존에서 인생 사진을 만들어보세요.
                                    </h4>
                                    <h4 class="m_f_i_contxt">새해맞이 시민의 종 타종행사에 온다면 꼭 들러야 하는 핫플레이스!</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="fes_info_swi_btn_wrap">
                    <div class="f_i_prev"><img src="img/arrow_next_wh.png" alt="" /></div>
                    <div class="f_i_next"><img src="img/arrow_next_wh.png" alt="" /></div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
        <script>
            var swiper = new Swiper(".mySwiper_fes_info", {
                navigation: {
                    nextEl: ".f_i_next",
                    prevEl: ".f_i_prev",
                },
            });
        </script>
        <div class="wave">
            <div class="wave_bg wbg_bot"></div>
        </div>
    </section>
    <!-- 섹션3 축제위치 섹션 -->
    <section class="section3">
        <div class="sec_wrap">
            <div class="subTitle">
                <h1>L</h1>
                <h1>O</h1>
                <h1>C</h1>
                <h1>A</h1>
                <h1>T</h1>
                <h1>I</h1>
                <h1>O</h1>
                <h1>N</h1>
            </div>
            <div class="fes_loca_cont_wrap">
                <div class="fes_loca_map">
                    <div class="loca_map_bg"></div>
                </div>
                <ul class="fes_location_info">
                    <li class="fes_loca_bus">
                        <h4 class="bus_bg">버스노선</h4>
                        <p>
                            15번, 86번, 126번, 186번, 15번(심야) (하차 : 백산 기념관) 40번(하차지점 : 국제시장) 자세한 사항은 http://bus.busan.go.kr/
                            참조 노선개편에 따라 하차지점 명칭이 다소 달라 질 수 있습니다.
                        </p>
                    </li>
                    <li class="fes_loca_airbus">
                        <h4 class="airbus_bg">공항버스</h4>
                        <p>공항리무진버스 부산역행 남포동역 하차</p>
                    </li>
                    <li class="fes_center_line_wrap">
                        <div class="fes_center_line"></div>
                    </li>
                    <li class="fes_loca_park">
                        <h4 class="park_bg">주차이용</h4>
                        <p>
                            관광버스 및 장애인차량 공원내 출입 후 주차가능 네비게이션을 이용할 경우 : 공원 입구가 여러 곳이 있어 다른 방향으로 오실 수
                            있으니 부산근대역사박물관 근처 중앙 성당으로 입력하시고 공원 입구 공영주차장에 주차 가능합니다. 행사기간에는 교통혼잡으로
                            인해 가급적 대중교통을 이용해주시기 바랍니다.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="wave">
            <div class="wave_bg wbg_top"></div>
        </div>
    </section>
</main>
