<footer>
    <div class="f_wrap">
        <div class="footer_txt sec_wrap">
            <div class="footer_wrap">
                <div class="footer_pc_wrap">
                    <h1 class="f_logo">BFOC</h1>
                    <p class="pc">
                        (사)부산문화관광축제조직위원회 47500 부산광역시 연제구 월드컵대로 344(거제동 1299) 아시아드 주경기장 <br />대표전화 :
                        051-713-5000 개인정보방침 | 이메일무단수집거부
                    </p>
                    <p class="pc">copyright ⓒ BUSAN Culture & tourism festival organizing committee all right reserved</p>
                    <p class="mobile">copyright ⓒ BFOC organizing committee all right reserved</p>
                </div>
                <div class="f_icon">
                    <ul>
                        <li class="insta"></li>
                        <li class="youtube"></li>
                        <li class="twiter"></li>
                        <li class="facebook"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
