<main class="gallery">
    <section class="section1">
        <div class="sec_wrap">
            <div class="subpage_title_wrap">
                <h2>FESTIVAL 2022</h2>
                <div class="subpage_title">
                    <div>
                        <h2>G</h2>
                    </div>
                    <div>
                        <h2>A</h2>
                    </div>
                    <div>
                        <h2>L</h2>
                    </div>
                    <div>
                        <h2>L</h2>
                    </div>
                    <div>
                        <h2>E</h2>
                    </div>
                    <div>
                        <h2>R</h2>
                    </div>
                    <div>
                        <h2>Y</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="wave">
            <div class="wave_bg wbg_top"></div>
        </div>
    </section>
    <section class="section2">
        <div class="sec_wrap">
            <div class="content_wrap">
                <div class="content_left">
                    <h3>FESTIVAL 2022</h3>
                    <h1>부산항 축제</h1>
                    <span class="sub_p">
                        <p>문화 콘텐츠와 함께하는 부산항</p>
                        <p>다채로운 장르의 공연</p>
                        </span>
                    <div class="g_mobile_no">
                   
                        <ul>
                            <li>개막식</li>
                            <li>비어 가르텐</li>
                            <li>부산항 불꽃쇼</li>
                            <li>미니 콘서트</li>
                            <li>미니 콘서트</li>
                            <li>북학에 가면 무도회</li>
                        </ul>
                    </div>
                   
                </div>
                <div class="content_right">
                    <!-- Swiper -->
                    <div class="swiper mySwiper_gall">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide no1 img1"></div>
                            <div class="swiper-slide no1 img2"></div>
                            <div class="swiper-slide no1 img3"></div>
                            <div class="swiper-slide no1 img4"></div>
                        </div>

                        <div class="swiper-gall-next"></div>
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
            </div>
            <div class="content_wrap">
                <div class="content_left">
                    <h3>FESTIVAL 2022</h3>
                    <h1>부산 바다축제</h1>
                    <span class="sub_p"  <p>문화 콘텐츠와 함께하는 부산항</p>
                        <p>다채로운 장르의 공연</p></span>
                    <div class="g_mobile_no">
              
                        <ul>
                            <li>개막식</li>
                            <li>비어 가르텐</li>
                            <li>부산항 불꽃쇼</li>
                            <li>미니 콘서트</li>
                            <li>미니 콘서트</li>
                            <li>북학에 가면 무도회</li>
                        </ul>
                    </div>
                  
                </div>
                <div class="content_right">
                    <!-- Swiper -->
                    <div class="swiper mySwiper_gall">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide no2 img1"></div>
                            <div class="swiper-slide no2 img2"></div>
                            <div class="swiper-slide no2 img3"></div>
                            <div class="swiper-slide no2 img4"></div>
                        </div>

                        <div class="swiper-gall-next"></div>
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
            </div>
            <div class="content_wrap">
                <div class="content_left">
                    <h3>FESTIVAL 2022</h3>
                    <h1>골목길 축제</h1>
                    <span class="sub_p">  <p>문화 콘텐츠와 함께하는 부산항</p>
                        <p>다채로운 장르의 공연</p></span>
                    <div class="g_mobile_no">
              
                        <ul>
                            <li>개막식</li>
                            <li>비어 가르텐</li>
                            <li>부산항 불꽃쇼</li>
                            <li>미니 콘서트</li>
                            <li>미니 콘서트</li>
                            <li>북학에 가면 무도회</li>
                        </ul>
                    </div>
                 
                </div>
                <div class="content_right">
                    <!-- Swiper -->
                    <div class="swiper mySwiper_gall">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide no3 img1"></div>
                            <div class="swiper-slide no3 img2"></div>
                            <div class="swiper-slide no3 img3"></div>
                            <div class="swiper-slide no3 img4"></div>
                        </div>

                        <div class="swiper-gall-next"></div>
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
            </div>
            <div class="content_wrap">
                <div class="content_left">
                    <h3>FESTIVAL 2022</h3>
                    <h1>부산 불꽃축제</h1>
                    <span class="sub_p">  <p>문화 콘텐츠와 함께하는 부산항</p>
                        <p>다채로운 장르의 공연</p></span>
                    <div class="g_mobile_no">
           
                        <ul>
                            <li>개막식</li>
                            <li>비어 가르텐</li>
                            <li>부산항 불꽃쇼</li>
                            <li>미니 콘서트</li>
                            <li>미니 콘서트</li>
                            <li>북학에 가면 무도회</li>
                        </ul>
                    </div>
                   
                </div>
                <div class="content_right">
                    <!-- Swiper -->
                    <div class="swiper mySwiper_gall">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide no4 img1">Slide 1</div>
                            <div class="swiper-slide no4 img2">Slide 2</div>
                            <div class="swiper-slide no4 img3">Slide 3</div>
                            <div class="swiper-slide no4 img4">Slide 4</div>
                        </div>

                        <div class="swiper-gall-next"></div>
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
            </div>
            <div class="content_wrap">
                <div class="content_left">
                    <h3>FESTIVAL 2022</h3>
                    <h1>국제록 페스티벌</h1>
                    <span class="sub_p">  <p>문화 콘텐츠와 함께하는 부산항</p>
                        <p>다채로운 장르의 공연</p></span>
                    <div class="g_mobile_no">
                     
                        <ul>
                            <li>개막식</li>
                            <li>비어 가르텐</li>
                            <li>부산항 불꽃쇼</li>
                            <li>미니 콘서트</li>
                            <li>미니 콘서트</li>
                            <li>북학에 가면 무도회</li>
                        </ul>
                    </div>
                   
                </div>
                <div class="content_right">
                    <!-- Swiper -->
                    <div class="swiper mySwiper_gall">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide no5 img1"></div>
                            <div class="swiper-slide no5 img2"></div>
                            <div class="swiper-slide no5 img3"></div>
                            <div class="swiper-slide no5 img4"></div>
                        </div>

                        <div class="swiper-gall-next"></div>
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
            </div>
            <div class="content_wrap">
                <div class="content_left">
                    <h3>FESTIVAL 2022</h3>
                    <h1>시민의 종 타종식</h1>
                    <span class="sub_p">  <p>문화 콘텐츠와 함께하는 부산항</p>
                        <p>다채로운 장르의 공연</p></span>
                    <div class="g_mobile_no">
                  
                    <ul>
                        <li>개막식</li>
                        <li>비어 가르텐</li>
                        <li>부산항 불꽃쇼</li>
                        <li>미니 콘서트</li>
                        <li>미니 콘서트</li>
                        <li>북학에 가면 무도회</li>
                    </ul>
                </div>
                </div>
                <div class="content_right">
                    <!-- Swiper -->
                    <div class="swiper mySwiper_gall">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide no6 img1"></div>
                            <div class="swiper-slide no6 img2"></div>
                            <div class="swiper-slide no6 img3"></div>
                            <div class="swiper-slide no6 img4"></div>
                        </div>

                        <div class="swiper-gall-next"></div>
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
            </div>
            <div class="content_wrap">
                <div class="content_left">
                    <h3>FESTIVAL 2022</h3>
                    <h1>낙동강유채꽃축제</h1>
                    <span class="sub_p">  <p>문화 콘텐츠와 함께하는 부산항</p>
                        <p>다채로운 장르의 공연</p></span>
                    <div class="g_mobile_no">
                        <ul>
                            <li>개막식</li>
                            <li>비어 가르텐</li>
                            <li>부산항 불꽃쇼</li>
                            <li>미니 콘서트</li>
                            <li>미니 콘서트</li>
                            <li>북학에 가면 무도회</li>
                        </ul></div>
                
                </div>
                <div class="content_right">
                    <!-- Swiper -->
                    <div class="swiper mySwiper_gall">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide no7 img1"></div>
                            <div class="swiper-slide no7 img2"></div>
                            <div class="swiper-slide no7 img3"></div>
                            <div class="swiper-slide no7 img4"></div>
                        </div>

                        <div class="swiper-gall-next"></div>
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="wave">
            <div class="wave_bg wbg_bot"></div>
        </div>
    </section>
</main>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper_gall", {
        slidesPerView: "1",
        spaceBetween: 0,
        loop: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-gall-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          
            640: {
                slidesPerView: 1,
                spaceBetween: 0,
            },
            1440: {
                slidesPerView:2,
                spaceBetween: 30,
            },
          
        },
    });
</script>
