<main class="login">
    <!-- 섹션1 로그인 섹션시작 -->
    <section class="sec1">
        <div class="login_sec1_wrap sec_wrap">
            <!-- 로그인 섹션 왼쪽 로고 및 이미지 -->
            <div class="left_logo_wrap">
                <div class="logo">
                    <a href=""><div class="img"></div></a>
                </div>
                <div class="logo_under_img">
                    <div class="log_left">
                        <div class="img"></div>
                    </div>
                    <div class="log_center">
                        <div class="img"></div>
                    </div>
                    <div class="log_right">
                        <div class="img"></div>
                    </div>
                </div>
            </div>
            <!-- 오른쪽 로그인 정보 입력  -->
            <form class="right_content_wrap" method="post" action="loginCheck">
                <div class="right_content_inner">
                    <div class="subTitle">
                        <h1>L</h1>
                        <h1>O</h1>
                        <h1>G</h1>
                        <h1>I</h1>
                        <h1>N</h1>
                    </div>
                    <input class="idpw_box" type="text" placeholder="아이디" name="id" />
                    <input class="idpw_box" type="text" placeholder="비밀번호" name="pw" />
                    <ul class="find_idpw">
                        <li><a href="">아이디찾기</a></li>
                        <li class="center_line"></li>
                        <li><a href="">비밀번호 찾기</a></li>
                    </ul>
                    <input class="login_input_box" type="submit" value="LOGIN" />
                    <ul class="or">
                        <li class="under_line"></li>
                        <li>OR</li>
                        <li class="under_line"></li>
                    </ul>
                    <div class="kakao_api">
                        <a href="">
                            <p>카카오톡 간편 로그인</p>
                            <div class="kakao_img"></div>
                        </a>
                    </div>
                    <p><a href="/join">아직 회원이 아니신가요?</a></p>
                </div>
            </form>
        </div>
        <div class="wave">
            <div class="wave_bg wbg_top"></div>
        </div>
    </section>
</main>
