@import url(common/reset.css);
@import url(common.css);

/* 메인시작 */
main {
    background-color: #f3f2ee;
}
/* 섹션1 시작 */
.committee > .section1 {
    box-sizing: border-box;
    background-color: #f3f2ee;
}

/* 가운데 이미지 시작 */
.middle_imgs {
    position: relative;
    box-sizing: border-box;
    width: 60%;
    height: 1000px;
    /* background-color: blue; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle_imgs > div {
    position: absolute;
}
.middle_imgs > div > img {
    width: 100%;
}
.building {
    width: 100%;
    z-index: 100;
}

.cloud {
    width: 70%;
    z-index: 99;
    transform: translate(60%, -30%);
}
.butterfly {
    width: 40%;
    z-index: 101;
    transform: translate(110%, 70%);
}
.butterfly > img {
    transform: scaleX(-1);
}
.tape {
    width: 55%;
    transform: translate(-80%, 90%);
    z-index: 101;
}
.tape > img {
    transform: rotate(10deg);
}

/* 바텀텍스트 시작 */
.committee .bottom_txt {
    text-align: center;
}
.committee .bottom_txt > h2 {
    margin-bottom: 100px;
}
/* =============================== */
/* 모바일 플러스 버튼 */
.committee .m_plus_wrap {
    display: none;
    box-sizing: border-box;
    margin: 25px auto;
}

/* 모바일 메인 텍스트 */
.committee .m_sec1_cont_maintxt {
    height: 0;
    opacity: 0;
    transition: height 0.4s ease-in-out, opacity 1s ease-in-out;
}

.committee .m_sec1_cont_maintxt.m_sec1_cont_maintxt_on {
    height: 450px;
    opacity: 1;
}
/* section2*/
.section2 {
    background-color: #0c0c0c;
}

/* sec2 타이틀 시작 */
.committee_title {
    text-align: center;
}
.committee_title > a > b {
    margin: 0 5px;
}

/* sec2 탭 시작 */
.sec2_tab_wrap {
    width: 392px;
    margin: 0 auto 50px;
    display: flex;
    color: #fff;
    justify-content: space-between;
}
.sec2_tab_wrap > li {
    font-size: 22px;
    font-weight: bold;
    width: calc(50% - 20px);
    border: 1px solid #fff;
    text-align: center;
    padding: 15px 0;
    box-sizing: border-box;
}

/* 히스토리 컨텐츠 */

.sec2_con_wrap {
    display: none;
    position: relative;
}

.mySwiper_his {
    width: 70%;
}
.his_con_box {
    height: 500px;
    background-color: #f3f2ee;
    padding: 50px 0;
    text-align: center;
    overflow: scroll;
}
.his_con_box > h2 {
    color: #1ea849;
    margin-bottom: 20px;
}

.his_cont_wrap {
    display: flex;
    justify-content: center;
}
.his_cont_wrap > p {
    line-height: 3;
}
.his_cont_wrap > p:nth-child(2) {
    margin-left: 10px;
}

/* 히스토리 스와이퍼 버튼 */

.his_swi_btn_wrap {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}
.his_swi_btn_wrap > div {
    width: 5%;
}
.h_s_prev {
    width: 10%;
    transform: scaleX(-1);
}

/* 조직체계 컨텐츠시작 */

.ogar_con_wrap {
    display: none;
    margin-top: 100px;
    position: relative;
}

.mySwiper_orga {
    width: 70%;
}
.ogar_con_box {
    height: 500px;
    background-color: #f3f2ee;
    padding: 50px 0;
    text-align: left;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ogar_con_box > h1 {
    color: #1ea849;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.ogar_con_box > h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 10px;
}
.ogar_cont_wrap {
    width: 50%;
    display: flex;
    margin-bottom: 20px;
}
.ogar_cont_wrap > h3 {
    flex-shrink: 0;
    font-size: 17px;
    font-weight: bold;
    margin-right: 10px;
}
.ogar_cont_wrap > p {
    font-size: 17px;
    font-weight: lighter;
}

/*조직 스와이퍼 버튼 */

.ogar_swi_btn_wrap {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}
.ogar_swi_btn_wrap > div {
    width: 5%;
}

.o_prev {
    width: 10%;
    transform: scaleX(-1);
}

/*섹션2 tab 클릭 했을 때 sec2_con_wrap에 추가하는 클래스 , tab자체에 추가하는 클래스 */
.tab_on {
    display: block;
}

.tab_bg {
    background-color: #fff;
    color: #1ea849;
}

/* 섹션3 로케이션 시작 */

.location_cont_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.location_map {
    width: calc(50% - 50px);
}
.location_map > .commit_map {
    width: 100%;
    padding-top: 92.982%;
}

.location_info {
    width: calc(50% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.location_info > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.location_info .sub_cate + p {
    font-weight: 700;
    font-size: 20px;
}

/* .location_info > li:nth-child(-n + 2) > p {
    font-size: 22px;
    font-weight: bold;
}
.location_info > li:nth-child(n + 3) > p {
    font-size: 18px;
} */

/* 로케이션 api박스 시작 */
.l_api_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.l_api_box > div {
    width: calc(33.333% - 10px);
    background-color: #0c0c0c;
    padding: 10px 20px;
    box-sizing: border-box;
}
.l_api_box > div > a {
    display: block;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    position: relative;
}
.l_api_box > div > a::after {
    display: inline-block;
    position: absolute;
    right: 0;
    content: "";
    width: 37px;
    height: 100%;
    background-image: url(../img/navermap.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

/* sec4 스폰서 시작 */
.sec3_sponser {
    /* padding-top: 250px; */
    box-sizing: border-box;
    background-color: #f3f2ee;
}
.sec3_sponser .subTitle {
    transform: translateY(0);
}

/* 반응형 */
@media (max-width: 1440px) {
    /* 공통 */
    .w1440 {
        width: 100%;
    }
    /* 섹션1 시작 */
    .middle_imgs {
        width: 60%;
        height: 900px;
    }
    /* 모바일 플러스 버튼 */
    .committee .cate_more {
        display: flex;
    }

    .committee .bottom_main_txt {
        display: none;
    }
    /* 섹션3 로케이션시작 */
    .location_cont_wrap {
        justify-content: center;
    }
    .location_map {
        width: 80%;
    }
    .location_map > img {
        width: 100%;
    }

    .location_info {
        width: 100%;
    }
    .location_info > li {
        margin-top: 50px;
    }
}
@media (max-width: 1200px) {
    /* 섹션1 시작 */
    .middle_imgs {
        height: 800px;
    }
    /* 섹션2시작 */

    /* 히스토리 컨텐츠 시작 */
    .his_con_box {
        padding: 100px 0;
        box-sizing: border-box;
    }
    /* 조직체계 컨텐츠시작 */

    .ogar_con_box {
        padding: 100px 0;
        box-sizing: border-box;
    }

    /* 섹션3 로케이션시작 */
    .location_info .sub_cate + p {
        font-weight: 700;
        font-size: 16px;
    }
    /* sec4 스폰서 시작 */
    .sec3_sponser {
        padding-top: 120px;
    }
}

@media (max-width: 600px) {
    /* 섹션1 시작 */
    .middle_imgs {
        height: 400px;
    }

    .committee .bottom_txt > p {
        font-size: 13px;
    }
    .committee .bottom_txt > h1 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 50px;
    }
    .committee .bottom_txt > h2 {
        margin-bottom: 0;
    }
    .committee .bottom_txt > .bottom_main_txt {
        display: none;
    }
    /* 섹션2시작 */
    .sec2_tab_wrap {
        width: 192px;
        margin: 20px auto 0;
    }
    .sec2_tab_wrap > li {
        font-size: 13px;
        font-weight: bold;
        padding: 5px 0;
        box-sizing: border-box;
    }

    .sec2_con_wrap {
        margin-top: 50px;
    }
    /* 히스토리 컨텐츠 시작 */
    .mySwiper_his {
        width: 100%;
    }
    .his_con_box {
        height: 300px;
        padding: 25px 0;
        box-sizing: border-box;
    }
    .his_cont_wrap {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .his_swi_btn_wrap {
        display: none;
    }
    /* 조직체계 컨텐츠시작 */
    .mySwiper_orga {
        width: 100%;
    }
    .ogar_con_box {
        height: 300px;
        padding: 25px 0;
        box-sizing: border-box;
    }
    .ogar_con_box > h1 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .ogar_con_box > h2 {
        font-size: 16px;
        font-weight: bold;
        margin: 10px 0 5px;
    }
    .ogar_con_box > p {
        font-size: 10px;
    }
    .ogar_con_box > p > strong {
        margin-right: 10px;
    }
    .ogar_swi_btn_wrap {
        display: none;
    }

    /* 섹션3 로케이션시작 */
    .location_cont_wrap {
        margin-top: 50px;
    }
    .location_map {
        width: 100%;
    }

    .l_api_box > div {
        width: 100%;
        background-color: #0c0c0c;
    }
    .l_api_box > div:nth-child(2) {
        margin-top: 20px;
    }
    .l_api_box > div:nth-child(3) {
        margin-top: 20px;
    }
    .l_api_box > div > a {
        display: block;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
    }
}

@media (max-width: 375px) {
    /* 섹션1 시작  */
    .middle_imgs {
        height: 300px;
    }
    /* 섹션2 시작  */
    .sec2_tab_wrap {
        width: 70%;
    }
}
