@import url(common/reset.css);
@import url(common.css);



/* 메인시작 */

/* 섹션1 축제소개 컨텐츠 및 포스터 섹션 */
.festival>.section1 {
    background-color: #F3F2EE;
}

.sec_wrap.sec1_festival {
    margin-top: 80px;
    display: flex;
}

.sec1_festival>div {
    width: 50%;
}

/* 왼쪽 포스터 내용 */
.festival .sec1_cont {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.festival .sec1_cont>h2 {
    margin: 80px 0;
}

.festival .sec1_cont_line {
    width: 100%;
    height: 2px;
    background-color: black;
}

.festival .sec1_cont>.sec1_cont_maintxt {
    margin: 80px 0;
}

/* 오른쪽 포스터 */
.festival .sec1_poster {
    display: flex;
    justify-content: flex-end;
}

.festival .poster_img {
    width: 65%;
    height: 700px;
    background-image: url(../img/main_sec3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* 모바일 텍스트 */
.f_m_maintxt {
    display: none;
}

/* 섹션 2 축제 프로그램 안내 */
.festival>.section2 {
    background-color: #0c0c0c;
}

.festival .sec2_addi_tit {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    white-space: nowrap;
    text-align: center;
}

.festival .subTitle {
    justify-content: center;
}

/* 축제프로그램 안내 콘텐츠 스와이퍼 */
.fes_info_cont_wrap {
    position: relative;
    margin-top: 50px;
}

.mySwiper_fes_info {
    width: 55%;
}

.fes_info_bg {
    height: 500px;
    box-sizing: border-box;
}

.f_i_bg1 {
    background-color: #fff;
}

.f_i_bg2 {
    background-color: red;
}

.f_i_bg3 {
    background-color: #fff;
}

.f_i_txt_wrap>li {
    display: flex;
    justify-content: space-between;
}

.f_i_txt_wrap>li:nth-child(1) {
    margin: 80px 0 20px;
}

.f_i_txt_wrap>li>div {
    width: 20%;
    height: fit-content;
    padding: 8px 0;
    margin-right: 30px;
}

.f_i_txt_wrap>li>div>h4 {
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.f_i_txt_wrap>li>h4 {
    width: 80%;
    color: #fff;
}

.f_i_peri_tit {
    background-color: red;
}

.f_i_contxt_tit {
    background-color: #F9B6B0;
}

/* 모바일 텍스트 */
.m_f_i_contxt {
    display: none;
}

/* 스와이퍼 버튼 */
.fes_info_swi_btn_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 250px;
    transform: translateY(-25%);
}

.fes_info_swi_btn_wrap>div {
    width: fit-content;
}

.f_i_prev {
    transform: scaleX(-1);
}

/* 섹션3 축제위치 섹션 */
.festival>.section3 {
    background-color: #F3F2EE;
}

.fes_loca_cont_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fes_loca_map {
    width: calc(50% - 70px);
}

.loca_map_bg {
    width: 100%;
    height: 600px;
    background-image: url(../img/mapmap.png);
    background-size: cover;
    background-position: center center;
}

.fes_location_info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fes_location_info>li {
    display: flex;
}

.fes_location_info>li>h4 {
    margin: 0 50px;
    white-space: nowrap;
    padding: 10px 10px;
    box-sizing: border-box;
    height: fit-content;
    color: #fff;
    font-weight: bold;
}

.bus_bg {
    background-color: red;
}

.airbus_bg {
    background-color: #F9B6B0;
}

.park_bg {
    background-color: #1874C1;
}

.fes_location_info>li>p {
    font-size: 18px;
}

.fes_center_line {
    width: 100%;
    height: 1px;
    background-color: #0c0c0c;
}

@media(max-width:1440px) {
    /* 섹션1 축제소개 컨텐츠 및 포스터 섹션 */

    .festival .poster_img {
        width: 90%;
        height: 750px;
    }

    /* <!-- 섹션 2 축제 프로그램 안내 --> */
    .mySwiper_fes_info {
        width: 80%;
    }
}

@media(max-width:1100px) {

    /* 섹션1 축제소개 컨텐츠 및 포스터 섹션 */
    .sec_wrap.sec1_festival {
        margin-top: 80px;
        display: block;
    }

    .festival .sec1_cont {
        display: none;
    }

    .sec1_festival>div {
        width: 100%;
    }

    .festival .poster_img {
        width: 100%;
        height: auto;
        padding-top: 80%;
        background-color: red;
    }

    .f_m_maintxt {
        padding-top: 30px;
        box-sizing: border-box;
        display: block;
        text-align: center;
    }

    .f_m_maintxt>h3 {
        font-weight: lighter;
    }

    /* <!-- 섹션 2 축제 프로그램 안내 --> */
    .fes_info_bg {
        height: 400px;
        box-sizing: border-box;
    }

    .fes_info_swi_btn_wrap {
        top: 200px;
        transform: translateY(-25%);
    }


     /* 섹션3 축제위치 섹션 */


    .fes_loca_map {
        width: 100%;
    }
    .fes_location_info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .fes_location_info>li {
        padding-top: 25px;
        box-sizing: border-box;
    }
    .fes_location_info>li>h4 {
        margin: 0;
        width: fit-content;
        text-align: center;
    }
    .fes_location_info>li>p {
        margin-left: 20px;
    }
}

@media(max-width:600px) {

    /* <!-- 섹션 2 축제 프로그램 안내 --> */
    .festival .subTitle {
        gap: 10px;
    }

    .f_i_contxt {
        display: none;
    }

    .m_f_i_contxt {
        display: block;
    }


    .fes_info_bg {
        height: 300px;
        box-sizing: border-box;
    }

    .fes_info_swi_btn_wrap {
        top: 150px;
        transform: translateY(-25%);
    }

    .fes_info_swi_btn_wrap>div>img {
        width: 15px;
    }
      /* 섹션3 축제위치 섹션 */

    .loca_map_bg {
        height: 300px;
    }

    .fes_location_info>li {
        display: block;
    }
    .fes_center_line_wrap{
        padding-top: 0 !important;
    }
    
      
    .fes_location_info>li>p {
        margin: 0;
        padding-top: 15px;
        box-sizing: border-box; 
        font-size: 16px;
    }
    
    .fes_center_line{
        display: none;
    }

}

@media(max-width:375px) {

    /* <!-- 섹션 2 축제 프로그램 안내 --> */
    .festival .subTitle {
        gap: 5px;
    }

    .fes_info_bg {
        height: 150px;
        box-sizing: border-box;
    }

    .fes_info_swi_btn_wrap {
        top: 75px;
        transform: translateY(-25%);
    }

     /* 섹션3 축제위치 섹션 */
     .loca_map_bg {
        height: 250px;
    }
     .fes_location_info>li>p {
        font-size: 10px;
    }
}