@import url(common/reset.css);
@import url(common.css);
#gallery .section1 {
    background-color: #f3f2ee;
    margin-top: 70px;
}

#gallery .section2 {
    background-color: #0c0c0c;
}
#gallery .section2 .sec_wrap {
    margin-top: -100px;
}
.content_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 200px;
}
.content_wrap > a {
    display: block;
    width: 35%;
    height: fit-content;
}
.content_left {
    width: 100%;
    /* max-height: 320px; */
    color: #f3f2ee;
}
.content_left > h1 {
    display: inline-block;
    font-size: 55px;
}
.content_left > h1 {
    display: inline-block;
    font-size: 55px;
}
.content_left .sub_p {
    width: 100%;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
}
.content_right {
    width: 65%;
}
.mySwiper_gall {
    width: 100%;
    height: 100%;
    background-color: #0c0c0c;
}

.section2 .mySwiper_gall .swiper-slide {
    filter: brightness(50%);
}

.section2 .mySwiper_gall .swiper-slide-active {
    filter: brightness(100%);
}
.section2 .mySwiper_gall .swiper-wrapper .swiper-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section2 .mySwiper_gall .swiper-wrapper .no1.img1 {
    background-image: url(../img/port-fes1.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no1.img2 {
    background-image: url(../img/port-fes2.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no1.img3 {
    background-image: url(../img/port-fes3.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no1.img4 {
    background-image: url(../img/port-fes4.jpg);
}

.section2 .mySwiper_gall .swiper-wrapper .no2.img1 {
    background-image: url(../img/sea-fes1.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no2.img2 {
    background-image: url(../img/sea-fes2.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no2.img3 {
    background-image: url(../img/sea-fes3.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no2.img4 {
    background-image: url(../img/sea-fes4.jpg);
}

.section2 .mySwiper_gall .swiper-wrapper .no3.img1 {
    background-image: url(../img/road-fes1.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no3.img2 {
    background-image: url(../img/road-fes2.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no3.img3 {
    background-image: url(../img/road-fes3.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no3.img4 {
    background-image: url(../img/road-fes4.jpg);
}

.section2 .mySwiper_gall .swiper-wrapper .no4.img1 {
    background-image: url(../img/fireworks1.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no4.img2 {
    background-image: url(../img/fireworks2.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no4.img3 {
    background-image: url(../img/fireworks3.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no4.img4 {
    background-image: url(../img/fireworks4.jpg);
}

.section2 .mySwiper_gall .swiper-wrapper .no5.img1 {
    background-image: url(../img/rock-fes1.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no5.img2 {
    background-image: url(../img/rock-fes2.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no5.img3 {
    background-image: url(../img/rock-fes3.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no5.img4 {
    background-image: url(../img/rock-fes4.jpg);
}

.section2 .mySwiper_gall .swiper-wrapper .no6.img1 {
    background-image: url(../img/bell-fes1.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no6.img2 {
    background-image: url(../img/bell-fes2.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no6.img3 {
    background-image: url(../img/bell-fes3.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no6.img4 {
    background-image: url(../img/bell-fes4.jpg);
}

.section2 .mySwiper_gall .swiper-wrapper .no7.img1 {
    background-image: url(../img/flower-fes1.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no7.img2 {
    background-image: url(../img/flower-fes2.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no7.img3 {
    background-image: url(../img/flower-fes3.jpg);
}
.section2 .mySwiper_gall .swiper-wrapper .no7.img4 {
    background-image: url(../img/flower-fes4.png);
}

.section2 .content_wrap:last-child {
    padding-bottom: 0px;
}

.swiper-gall-next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 44px;
    opacity: 0.8;
    background-image: url(../img/arrow_next_wh.png);
    background-size: cover;
    background-position: center center;
    z-index: inherit;
}

.f_gallery {
    background-color: #f3f2ee;
    padding-bottom: 100px;
}
.f_gallery p {
    color: #0c0c0c;
}

.f_icon .insta_sub {
    background-image: url(../img/footer_insta_bk.png);
}
.f_icon .youtube_sub {
    background-image: url(../img/footer_youtube_bk.png);
}
.f_icon .twiter_sub {
    background-image: url(../img/footer_twt_bk.png);
}
.f_icon .facebook_sub {
    background-image: url(../img/footer_fb_bk.png);
}

@media (max-width: 1440px) {
    .content_left > h1 {
        display: inline-block;
        font-size: 44px;
    }
    .content_right {
        width: 55%;
    }
    .content_wrap > a {
        display: block;
        width: 45%;
        height: fit-content;
    }
}

@media (max-width: 970px) {
    .content_wrap > a {
        width: 100%;
    }
    .content_right {
        width: 100%;
    }
    .content_wrap {
        width: 100%;
        display: flex;
        /* justify-content: space-between; */
        flex-wrap: wrap-reverse;
        padding-bottom: 150px;
    }
    .mySwiper_gall {
        height: 400px;
    }
    .g_mobile_no {
        display: none;
    }
    .content_left .sub_p {
        display: flex;
        gap: 10px;
        font-weight: 400;
        /* font-size: 15px; */
    }
    .content_left .sub_p p:first-child::after {
        content: ",";
    }
}
@media (max-width: 500px) {
    .content_left > h1 {
        font-size: 34px;
    }
}
@media (max-width: 375px) {
    .content_left .sub_p {
        flex-direction: column;
    }
    .mySwiper_gall {
        height: 300px;
    }
    .content_wrap {
        padding-bottom: 100px;
    }
}
