@import url(common.css);
/* 상단 홈, 뒤로가기 버튼 */
.join .mobile_btn_wrap{
    display: flex;
    position: absolute;
    top: 10px; left: 20px;
}
.join div>img{
    width: 50px; height: 50px;
}
.join .back_btn{
    margin-left: 40px;
}


.join {
    display: flex;
    align-items: center;
    height: 100vh;
}
.join_title {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px 0;
    box-sizing: border-box;
}
.join_title > h3 {
    width: fit-content;
    font-weight: bold;
    color: #fff;
}

.join table {
    width: 100%;
}
.join td {
    padding: 10px 0;
    padding-left: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #0c0c0c;
    white-space: nowrap;
}
.join td strong {
    color: red;
    margin-right: 5px;
}
.join .join_title_box {
    background-color: #f6f6f6;
    font-size: 22px;
}
.join .join_input_box {
    width: 70%;
    line-height: 40px;
    padding: 0 10px;
    color: #adadad;
}

.join .join_btn {
    display: block;
    width: 35%;
    border: 0;
    margin: 100px auto;
    padding: 10px 0;
    box-sizing: border-box;
    color: #fff;
    background-color: #0c0c0c;
    font-size: 40px;
    font-weight: bold;
}

@media (max-width: 1440px) {
    .join .join_title_box {
        font-size: 18px;
    }
    .join .join_btn {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .join td {
        padding: 10px 0;
        padding-left: 5px;
        box-sizing: border-box;
        border-bottom: 1px solid #0c0c0c;
        white-space: nowrap;
    }
    .join .join_title_box {
        font-size: 12px;
    }
    .join .join_input_box {
        width: 90%;
        font-size: 10px;
        padding: 0;
        line-height: 20px;
    }
    .join .join_btn {
        font-size: 20px;
    }
}
