main {
    background-color: #0c0c0c;
}

/* =========================section1========================= */

.main section.section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0c0c0c;
    overflow: hidden;
    position: relative;
    height: 100vh;
}
.main .sec1_wrap {
    height: calc(100% - 300px);
    margin-top: 70px;
    width: 100%;
    position: relative;
}
.confetti {
    width: 70%;
    margin: 0 auto;
    z-index: 99;
    opacity: 0;
    transform: translateY(20%);
}
.confetti.show {
    animation: confetti 1.2s ease-in-out;
}
.confetti > img {
    width: 100%;
    padding-top: 60%;
}
@keyframes confetti {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
    65% {
        opacity: 0.7;
    }
    75% {
        opacity: 0.4;
    }
    100% {
        opacity: 0;
    }
}
.main .main_img_wrap {
    width: 100%;
    height: 100%;
    min-width: 300px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.main .sec1_wrap > div > div {
    position: absolute;
}
.main_logo {
    width: 15%;
    top: 12%;
}
.main_logo > .img {
    padding-top: 53.69319%;
    background-image: url(../img/bfoc_logo_white.png);
}
.main .main_right {
    width: 44%;
    /* transform: translateX(110%) translateY(-34%); */
    transform: translateX(56%) translateY(35%);
    z-index: 5;
}
.main_right > .img {
    padding-top: 216.714286%;
    background-image: url(../img/main_right.png);
}
.main .main_center {
    width: 34%;
    /* translateY(-37%) */
    transform: translateX(22%) translateY(19%);
}
.main_center > .img {
    padding-top: 145.7777%;
    background-image: url(../img/main_center.png);
}
.main .main_left {
    width: 77%;
    z-index: 6;
    transform: translateX(-20%) translateY(32%);
}
.main_left > .img {
    padding-top: 95.111111%;
    background-image: url(../img/main_left.png);
}
/* .wave_white {
    width: 100%;
    padding-top: 15.625%;
    background-image: url(../img/wavy\ line_w.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: 100;
    margin-bottom: -2px;
} */
.main .section1 .wave {
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99;
}
/* ======================================sec2========================= */
.main .section2 {
    position: relative;
    background-color: #f3f2ee;
    width: 100%;
    /* padding: 100px 0; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .festi-poster {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    /* top: 50%;
    transform: translateY(-50%); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.speaker,
.seagal,
.lp {
    position: absolute;
}
.main .speaker {
    width: 15%;
    /* transform: translateX(-280%) translateY(55%) rotate(-16.32deg); */
    transform: translateX(-20%) translateY(81%) rotate(-16.32deg);
    z-index: 500;
    left: 0;
}
.main .speaker > .img {
    padding-top: 122%;
    background-image: url(../img/speaker.png);
}
.main .seagal {
    width: 22%;
    /* transform: translateX(180%) translateY(-43%) rotate(8.32deg); */
    transform: translateX(25%) translateY(-62%) rotate(8.32deg);
    right: 0;
    z-index: 499;
}
.main .seagal > .img {
    padding-top: 99.25%;
    background-image: url(../img/seagull_main.png);
}
.main .img {
    width: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000;
}

.lp {
    /* transform: translateX(-300%) translateY(-10%); */
    transform: translateX(-46%) translateY(19%);
    left: 0;
    width: 14%;
}
.lp > .img {
    padding-top: 97.2%;
    background-image: url(../img/LP.png);
}
.main .festi-poster .mySwiper {
    width: 100%;
    overflow-x: hidden;
    gap: 0;
}

.main .festi-poster .swiper-wrapper {
    gap: 0;
}

.main .festi-poster .swiper-slide {
    transform: scaleY(0.9);
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #282828;
    transition: all 0.3s ease;
    padding: 0;
}

.main .festi-poster .swiper-slide-active {
    background: #fff;
    transform: scale(1);
    height: 100%;
    z-index: 2;
}

.main .festi-poster .swiper-slide > img {
    width: 100%;
    opacity: 0.5;
}
.main .festi-poster .swiper-slide-active > img {
    width: 100%;
    opacity: 1;
}
.section2 .wave_bw {
    position: relative;
}
/* ==========sec3==================== */
.main .section3 {
    background-color: #0c0c0c;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100vh; */
}

.main .sec3_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #0c0c0c;
}
.main .sec3_wrap > div {
    width: calc(50% - 50px);
}

.main .sec3_wrap > .sec3_left{
    background-image: url(../img/main_sec3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.main .sec3_wrap > .sec3_right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.main .sec3_wrap > .sec3_right p {
    font-size: 22px;
}
.main .sec3_left {
    background-color: #f3f2ee;
    height: 500px;
}
.main .sec3_subtitle {
    display: flex;
    gap: 10px;
}
.main .sec3_subtitle > h3 {
    width: fit-content;
}
.d-day {
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #f3f2ee;
}
.d-day > div {
    display: flex;
}
.d-day > div > h1 {
    color: #f3f2ee;
}
#d_date {
    color: #ee4b3c;
    /* background-color: #f3f2ee; */
}
#d_hour {
    color: #f9b6b0;
    /* background-color: #f3f2ee; */
}
#d_miniute {
    color: #1ea849;
    /* background-color: #f3f2ee; */
}
#d_second {
    color: #1874c1;
    /* background-color: #f3f2ee; */
}
.sec3_content_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}
.main .sec3_wrap p {
    color: #f3f2ee;
}
.main .sec3_wrap h2 {
    color: #f3f2ee;
}
.main .section3 h3 {
    font-weight: 900;
    color: #f3f2ee;
}
.main .section3 h4 {
    font-weight: 900;
    color: #f3f2ee;
}
.main .section3 h4.red {
    color: #ee4b3c;
}
.main .section3 h4.blue {
    color: #1874c1;
}
.main .section3 h4.yellow {
    color: #ffbc16;
}
.m_sec3_content {
    height: 100%;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main .sec3_info {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 25px;
}
.main .section3 .wave_wb {
    position: relative;
}
.subTitle {
    justify-content: center;
}

/*category color 시작*/

.sec4_cont .notice_list .red {
    color: #ee4b3c;
    font-weight: bold;
}
.sec4_cont .notice_list .pink {
    color: #f9b6b0;
    font-weight: bold;
}
.sec4_cont .notice_list .blue {
    color: #1874c1;
    font-weight: bold;
}
.sec4_cont .notice_list .yellow {
    color: #ffbc16;
    font-weight: bold;
}
.sec4_cont .notice_list .bold {
    font-weight: bold;
}
/* 데이터베이스에 저장된 컬러값 가져오기 위한 태그 */
.sec4_cont .hidden {
    display: none;
}

/*category color 종료*/

#section4 {
    background-color: #f3f2ee;
}

.sec4_cont {
    width: 100%;
    border-top: 1px solid #0c0c0c;
    padding-bottom: 40px;
}
/* .sec4_cont > table {
    width: 100%;
    border-collapse: collapse; 
}*/
.sec4_cont div {
    width: 100%;
    border-bottom: 1px solid #0c0c0c;
}
.sec4_title {
    padding-top: 50px;
}
.sec4_cont > .notice_list {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    padding: 0px 50px;
    box-sizing: border-box;
}
.sec4_cont .notice_list h4 {
    /* padding: 0 20px; */
    line-height: 4;
    box-sizing: border-box;
    text-align: center;
    color: #0c0c0c;
}
.sec4_cont .notice_list > h4:first-child {
    width: 15%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sec4_cont .notice_list > h4:nth-child(2) {
    width: 60%;
    text-align: center;
}
.sec4_cont .notice_list > h4:last-child {
    width: 15%;
    text-align: right;
}
.sec4_cont .notice_list .notice_title {
    text-align: left;
}
.sec4_cont .notice_list .notice_title > a {
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
.sec4_cont .notice_list .notice_date {
    color: #0c0c0c;
}
/*섹션 5*/
.section5 {
    background-color: #0c0c0c;
}
.section5 .sec5_content {
    background-color: #0c0c0c;
}
.section5 .swiper {
    width: 100%;
    height: 100%;
}
.section5 .swiper-slide {
    text-align: center;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* filter: brightness(70%); */
    transition: all 0.2s;
}
.section5 .swiper-slide-active {
    transition: all 0.3s;
}
.section5 .newsimg .news_box {
    width: 100%;
    height: 0;
}
.section5 .swiper-slide-active .news_box {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #00000090;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.section5 .newsimg img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section5 .newsimg .txt_box {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    opacity: 0;
}
.section5 .swiper-slide-active .txt_box {
    opacity: 1;
    box-sizing: border-box;
    color: #f3f2ee;
}
.section5 .txt_box h4 {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 40px 0;
    box-sizing: border-box;
}
.section5 .txt_box p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.6;
    margin-bottom: 50px;
}
.section5 .newsimg .n_more_btn {
    display: block;
    width: 30%;
    margin: 0px auto;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #f3f2ee;
    color: #f3f2ee;
}

.section5 .swiper-pagination {
    position: relative;
    padding-top: 50px;
}
.section5 .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 5.2%;
    background-color: #ffffff80;
    margin: 0 0;
    border-radius: 0;
}

.section5 .swiper-slide.img1 {
    background-image: url(../img/city1.jpg);
}

/* 섹션5 종료 */

/* 섹션6 시작 */

.section6 {
    background-color: #f3f2ee;
    width: 100%;
    height: 100%;
}

.sec6_title {
    padding-top: 200px;
}

.sec6_cont {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.sec6_cont .left_cont {
    width: 50%;
    /* padding-top: 28.6458%; */
}
.left_cont_img {
    width: 100%;
    padding-top: 80%;
    /* background-color: #1EA849; */
    background-image: url(../img/map1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sec6_cont .right_cont {
    width: 48%;
}
#right_title > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px;
}

#right_title > ul > li {
    width: 22%;
    height: auto;
    box-sizing: border-box;
    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 55px; */
}
#right_title > ul > li > div {
    width: 100%;
    padding-top: 55%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 35%;
    border: 3px solid #0c0c0c;
    /* border-radius: 50%; */
}
#right_title > ul > li > p {
    font-size: 18px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 15px;
}
#right_title > ul > li .edit_txt {
    width: 110%;
    text-align: left;
    /* padding-right: 10px; */
    box-sizing: border-box;
}
#right_title_1 {
    background-image: url(../img/temple-off2.png);
}
#right_title_2 {
    background-image: url(../img/art-off2.png);
}
#right_title_3 {
    background-image: url(../img/sea-off2.png);
}
#right_title_4 {
    background-image: url(../img/park-off2.png);
}
.section6 .tabcont {
    display: none;
    width: 100%;
    height: fit-content;
    margin-top: 50px;
    /* border: 1px solid #333; */
}
#sec6_tab1 {
    display: block;
}

#right_title_1.active {
    background-image: url(../img/temple-act_wh2.png);
    border: 3px solid #ee4b3c;
    background-color: #ee4b3c;
    color: #ee4b3c;
}
#right_title_1.active + p {
    color: #ee4b3c;
}
#right_title_2.active {
    background-image: url(../img/art-act_wh.png);
    border: 3px solid #efa7a0;
    background-color: #efa7a0;
    color: #efa7a0;
}
#right_title_2.active + p {
    color: #efa7a0;
}
#right_title_3.active {
    background-image: url(../img/sea-act_wh.png);
    border: 3px solid #1874c1;
    background-color: #1874c1;
    color: #1874c1;
}
#right_title_3.active + p {
    color: #1874c1;
}
#right_title_4.active {
    background-image: url(../img/park-act_wh.png);
    border: 3px solid #1ea849;
    background-color: #1ea849;
    color: #1ea849;
}
#right_title_4.active + p {
    color: #1ea849;
}

/* 탭 서브메뉴 */
.sec6_tab_wrap {
    border-bottom: 1px solid #0c0c0c;
    padding: 0 20px;
    height: auto;
    /* transition: 3s; */
    box-sizing: border-box;
}
.tab_title {
    width: 100%;
    line-height: 4;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* transition: 3s; */
}
.sec6_tab_wrap:first-child {
    border-top: 1px solid #0c0c0c;
}

.sec6_tab_sub {
    width: 100%;
    max-height: 0;
    top: 100px;
    overflow: hidden;
    /* transition: 3s; */
}
.sec6_tab_sub ul > li > a {
    width: 100%;
    display: block;
    font-size: 16px;
    line-height: 0;
    text-decoration: none;
    color: #0c0c0c;
    transition: 0.5s;
}
.sec6_tab_sub.sub_toggle {
    /* transition: 3s; */
    max-height: fit-content;
    background-color: #f3f2ee;
}
.sec6_tab_sub.sub_toggle ul > li > a {
    line-height: 3;
    transition: all 0.5s ease-in-out;
}

.tab_active {
    text-align: right;
}

/* sec4 스폰서 시작 */
.sec3_sponser {
    background-color: #f3f2ee;
}

.sponser_slide_box {
    margin-top: 100px;
    width: 100%;
}

.sponser_slide_box img {
    width: 100%;
    height: auto;
}
.main_banner {
    width: 100%;
    height: auto;
    padding: 50px 0;
}
.main_banner > img {
    width: 100%;
    height: auto;
}

#topBtn {
    width: 80px;
    height: 80px;
    z-index: 99;
    border-radius: 50%;
    background-color: #f3f2ee;
    border: 1px solid #000;
    position: fixed;
    right: 100px;
    bottom: 0px;
    transition: 1s;
    text-align: center;
    cursor: pointer;
    opacity: 0;
}
#topBtn span {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url(../img/bfoc_logo_black.png);
    background-position: center center;
    background-size: 50px auto;
    background-repeat: no-repeat;
}

#topBtn.active {
    opacity: 1;
    bottom: 100px;
}
/* sec7======================= */
.main .section7 {
    background-color: #0c0c0c;
}
.surprise_wrap {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.surprise_wrap > h3,
.surprise_wrap > p {
    text-align: center;
    color: #f3f2ee;
}
.main .section7 .sub_cate {
    width: fit-content;
    padding: 0 25px;
    box-sizing: border-box;
    margin: 0 auto;
}
@media (max-width: 1440px) {
    .main .festi-poster {
        padding: 0;
    }
    .main .speaker {
        width: 17%;
    }
    .lp {
        width: 16%;
    }
    .main .seagal {
        width: 25%;
    }
    .f_icon {
        width: 20%;
    }
    .main .sec3_subtitle {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .d-day {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border-bottom: 1px solid #f3f2ee;
    }
    .sec3_content_right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }
    .main .sec3_right p {
        display: none;
    }

    @media (max-width: 1300px) {
        .main .sec6_cont {
            flex-direction: column;
        }
        .main .sec6_cont .left_cont {
            width: 100%;
            padding-bottom: 40px;
        }
        .main .sec6_cont .right_cont {
            width: 100%;
        }
        .f_icon {
            width: 25%;
        }
    }
    @media (max-width: 1100px) {
    }
    .main .sec3_subtitle {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .main .sec3_wrap > div {
        width: 100%;
    }
    .main .sec3_left {
        height: 300px;
        margin-bottom: 25px;
    }
    .d-day {
        width: 100%;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        border-bottom: 1px solid #f3f2ee;
    }
}
@media (max-width: 1000px) {
    .main section.section1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #0c0c0c;
        overflow: hidden;
        position: relative;
        height: 60vh;
    }
    .main .main_img_wrap {
        padding-bottom: 50px;
        box-sizing: border-box;
    }
    .main .sec4_cont > .notice_list {
        padding: 0 20px;
    }
    .main .notice_list > h4:nth-child(2) {
        overflow: hidden;
        white-space: no-wrap;
        text-overflow: ellipsis;
    }
    .main .notice_list > h4:first-child {
        width: 20%;
    }
    .main .notice_list > h4:last-child {
        width: 15%;
    }
    .main .notice_list h4 {
        padding: 0;
        font-size: 15px;
    }
    .section5 .txt_box p {
        margin-bottom: 60px;
    }
}
@media (max-width: 800px) {
    .main .sec1_wrap {
        height: calc(100% - 150px);
    }
}
@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }
    h3 {
        font-size: 16px;
        font-weight: 900;
    }
    h4 {
        font-size: 10px;
        font-weight: 900;
    }
    p {
        font-size: 10px;
    }
    .main .sec3_subtitle {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 5px 0 10px;
    }
    .main .sec3_wrap > div {
        width: 100%;
    }
    .main .sec3_left {
        height: 200px;
    }
    .main .sec3_content_right {
        width: 100%;
    }
    .main .sec3_info {
        width: 100%;
    }
    .main #section4 .notice_date {
        display: none;
    }
    .sec4_cont .notice_list > h4:nth-child(2) {
        width: 80%;
        text-align: left;
    }
    .section5 .swiper-slide {
        height: 400px;
    }
    .section5 .txt_box h4 {
        padding: 30px 10px;
    }
    #right_title > ul > li {
        width: 20%;
    }
    #right_title > ul > li > p {
        display: none;
    }
    .section6 .tabcont {
        margin-top: 40px;
    }
    #right_title > ul > li > div {
        border: 2px solid #0c0c0c;
        /* border-radius: 50%; */
    }
}
